@font-face {
	font-family: 'KelsonSans';
	src: url('/fonts/KelsonSansRU-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KelsonSansN';
	src: url('/fonts/KelsonSans-Normal.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: 'KelsonSansRu';
	src: url('/fonts/KelsonSansRU-Light.woff2') format('woff2');
	font-weight: normal;
	font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    font-family: 'KelsonSans', sans-serif;
}
*::selection{
    color: black;
    background-color: white;
}
html,body{
    width: 100%;
    height: 100%;
    /* cursor: none; */
}
::-webkit-scrollbar{
    width: 5px;
}
::-webkit-scrollbar-track{
    background-color:white ;
}
::-webkit-scrollbar-thumb{
    background-color: rgb(0, 0, 0);
    border-radius: 25px;
}

.container{
	position: relative;
	height: 100vh;
	width: 100%;
	
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.container:before{
	content: '';
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.7);
}

.video-bg {
    position: absolute;
	inset: 0;
	height: 100%;
	width: 100%;
	object-fit: cover;
	overflow: hidden;
    z-index: -1; /* Ensure video stays behind content */
}

.video-bg  iframe {
	transform: scale(1.2);
}

.content{
	position: relative;
    max-width: 700px;
    padding: 2rem;
    z-index: 1;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

}

.content img{
	display: flex;
	position: relative;
	width: 35vw;
	height: 20vw;
	margin-top: -10vw;
}
.content > p{
	color: white;
	font-size: 1.1rem;
	margin-top: -4vw;
}
.content > div {
	width: 1px;
	overflow: hidden;
	height: 15vh;
	background-color: rgb(66, 65, 65);
	margin-top: 20vh;
	position: relative;
}


.content > div::before {
	content: "";
	position: absolute;
	display: block;
	overflow: hidden;
	width: 100%;
	height: 100%;
	top: 0;
	right: 0;
	background-color: #ffffff;
	transform: scaleY(1);
	transform-origin: top;
	transition: transform 2s ease;
	animation: linkHoverAnimation 2s ease infinite;
}

@keyframes linkHoverAnimation {
	from {
		transform: translateY(-100%);
	}
	to {
		transform: translateY(100%);
	}
}



  
/* .content h2{
	color: #fff44f;
	font-family: "Dancing Script", cursive;
	font-size: 4.3rem;
	margin-bottom: 0.8rem;
} */





.element2{
	position: relative;
	height: 100vh;
	width: 99vw;
	display: flex;
	flex-direction: row;
	align-items: center;	
}
.element2 > .left {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	
}
.element2 > .mid {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.element2 > .right {
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.element2 > .left > img {
	width: 32.1vw;
	height: 30vw;
	filter: brightness(50%);
	z-index: 5;
}
.element2 > .left > .l {
	margin-top: 550px;
}
.element2 > .mid > .m {
	margin-top: 550px;
}
.element2 > .right > .r {
	margin-top: 540px;
}
.element2 > .mid > img {
	width: 35vw;
	height: 35vw;
	object-fit: cover;
	filter: brightness(50%);
	z-index: 5;
}
.element2 > .right > img {
	width: 32.1vw;
	height: 30vw;
	filter: brightness(50%);
	z-index: 5;
}

.sidel{
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 25vw;
}
.sidel > a {
	position: absolute;
	text-decoration: none;
	color: #0e0e0e;
	margin-top: -15vw;
	transition: letter-spacing 1s ease; /* Define the transition property */
	letter-spacing: 0.15rem; /* Set the initial letter spacing */
	font-weight: 700;
	z-index: 10;
	padding: 4px;
}

.sidel > a:hover {
	letter-spacing: 0.3rem; /* Adjust the desired final letter spacing */
  }
  
.sidel > div {
	position: relative;
	width: 5vw;
	height: 1.3px;
	overflow: hidden;
	background-color: rgb(212, 211, 211);
	z-index: 10;
	margin-top: -14vw;
	margin-left: 18vw;
}


.sidel > div::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #535252;
	transform: scaleX(1);
	transform-origin: top left;
	transition: transform 1s ease;
	animation: linkAnimation 2s ease infinite;
  }
  
  
  
  @keyframes linkAnimation {
	from {
	  transform: translate(-100%);
	}
	to {
	  transform: translate(100%);
	}
  }

.element2 > .mid > a {
	position: absolute;
	text-decoration: none;
	color: #0e0e0e;
	margin-top: -30vw;
	font-weight: 700;
	transition: letter-spacing 1s ease; /* Define the transition property */
	letter-spacing: 0.15rem; /* Set the initial letter spacing */
	z-index: 10;
	padding: 4px;
}

.contact1{
	margin-top: -5vh;
	padding: 10px 15px;
	background-color: #41c8fd;
	font-size: 14px;
	font-weight: bold;
	border-radius: 25px;
	border: 1px solid black;
}

.contact1 a {
	text-decoration: none;
}

.mid > a:hover {
	letter-spacing: 0.3rem; /* Adjust the desired final letter spacing */
  }
  
.sider{
	z-index: 10;
	position: absolute;
	display: flex;
	flex-direction: row;
	width: 30vw;
}
.sider > a {
	position: absolute;
	text-decoration: none;
	color: #0e0e0e;
	margin-top: -15vw;
	margin-left: 10vw;
	font-weight: 700;
	z-index: 10;
	transition: letter-spacing 1s ease; /* Define the transition property */
	letter-spacing: 0.15rem; /* Set the initial letter spacing */
	padding: 4px;
}

.sider > a:hover {
	letter-spacing: 0.3rem; /* Adjust the desired final letter spacing */
  }
  
.sider > div {
	position: absolute;
	width: 5vw;
	height: 1.3px;
	overflow: hidden;
	background-color: rgb(212, 211, 211);
	z-index: 10;
	margin-top: -14vw;
	margin-left: 4vw;
}
.sider > div::before {
	content: "";
	position: absolute;
	display: block;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #535252;
	transform: scaleX(1);
	transform-origin: top left;
	transition: transform 1s ease;
	animation: linkAnimationRight 2s ease infinite;
  }


  
  @keyframes linkAnimationRight {
	from {
	  transform: translate(-100%);
	}
	to {
	  transform: translate(100%);
	}
  }



.element3{
	height: 60vh; /* Height to enable scrolling */
    position: relative;
	overflow: hidden;
	display: flex;
	justify-content: center;
	align-items: center;
}
.element3 > p{
	position: absolute;
	width: 80vw;
	font-size: 1.3rem;
	z-index: 10;
	letter-spacing: 0.2rem;
	font-weight: 700;
	text-align: center;
	
}
.text {
	position: absolute;
	font-size: 400px;
	white-space: nowrap; 
	color: rgb(241, 240, 240);
	z-index: 5;
  }




  .swiper {
	width: 100%;
	height: 100%;
	margin-bottom: 0vh;
	margin-top: 20vh;
  }

  .swiper-slide {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	position: relative;
	padding-top: 10vh;
	padding-bottom: 0vh;
	
	
  }

  .pic {
	position: absolute;
	color: white;
	bottom: 0;
	margin-bottom: 10px;
	margin-left: 40px;
	z-index: 99;
  }
  .pic > h3 {
	font-size: 1.3rem;
	letter-spacing: 0.1rem;
	padding-bottom: 3px;
  } 
  .pic > p {
	letter-spacing: 0.1rem;
	font-size: 0.9rem;
	
  }

  .swiper-slide img {
	cursor: default;
	width: 100%;
	height: 100%;
	filter: brightness(60%);
  }


 .swiper-button-next {
	padding: 40px !important;
	background-color: #181818 !important;
	left: 50% !important;
	color: white !important;
	padding-left: 70px !important;
	
  }
  .swiper-button-prev {
	padding: 40px !important;
	padding-right: 70px !important;
	background-color: #181818 !important;
	left: 42.4% !important;
	color: white !important;
  }

  .moving {
	position: relative;
	width: 100%;
	height: 10rem;
	overflow: hidden;
	background-color: #ffffff;
  }
  
  .moving-text {
	position: absolute;
	top: 52%;
	font-weight: bold;
	left: 0;
	transform: translateY(-50%);
	font-size: 10rem;
	color: #dfdddd;
	white-space: nowrap;
  }



.element5 {
	width: 100%;
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}
.element5 > .video {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
	filter: brightness(50%);
	z-index: 5;
    
}
.elem5 {
	position: absolute;
	width: 70%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	z-index: 10;
	gap: 15vh;
}
.elem5 > h3{
	font-size: 1.4rem;
	letter-spacing: 0.2rem;
	color: white;
}
.elem5 > p {
	font-size: 1.2rem;
	letter-spacing: .2rem;
	text-align: center;
	color: white;
}








.footer{
	position: relative;
	height: 80vh;
	width: 100%;
	background-color: #181818;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: 15vh;
}
.footer1 > img {
	display: flex;
	position: relative;
	width: 35vw;
	height: 20vw;
	margin-top: -15vh;
}
.footer2 {
	width: 50vw;
	background-color: rgb(87, 86, 86);
	height: 1px;
	margin-top: -6vw;
}
.footer3{
	display: flex;
	flex-direction: row;
	gap: 50vw;
}
.footer3 > div {
	display: flex;
	flex-direction: column;
	gap: 2vw;
}
.footer3 > div > div > ul{
	display: flex;
	flex-direction: row;
	gap: 2vw;
}
.footer3 > div > div > ul > li > a{
	text-decoration: none;
	color: #ffffff;
}
.footer3 > div > .copyright {
	display: flex;
	flex-direction: row;
	gap: 1vw;
}
.footer3 > div > .copyright > p{
	font-size: 0.8vw;
	color: #ffffff;
	cursor: default;
}
.footer3 > div > .copyright >  a{
	font-size: 0.8vw;
	text-decoration: none;
	color: #ffffff;
}
.footer3 > .dash {
	display: flex;
	flex-direction: row;
	gap: 2vw;
}
.footer3 > .dash > p{
	color: #ffffff;
	cursor: default;
}
.footer3 > .dash > a {
	text-decoration: none;
	color: #ffffff; /* Default color */
    transition: color 0.3s ease;
}
.footer3 > .dash > a:hover {
    color: #fff44f; 
}





@media (max-width: 760px) {
    .container{
		position: relative;
		height: 100%;
		width: 100vw;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		text-align: center;
	}
	
	.container:before{
		content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		background-color: rgb(29, 30, 29)
	}
	
	.video-bg {
		position: absolute;
		height: 100%;
		width: 100%;
		filter: brightness(50%);
		object-fit:fill !important;
		z-index: 1; 
	}
	
	.video-bg > iframe {
		position: absolute;
		transform: scale(3.9);
	}
	.content img{
		margin-top: 20vh;
		width: 72vw;
		height: 45vw;
	}
	.content > div {
		margin-top: 8vh;
		height: 10vh;
	}



	.element2{
		position: relative;
		height: 100vh;
		width: 99vw;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 5vh;
		gap: 2vw;	
	}
	.element2 > .left {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		
	}
	.element2 > .mid {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.element2 > .right {
		position: relative;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
	}
	.element2 > .left > img {
		width: 99vw;
		height: 30vh;
		filter: brightness(50%);
		z-index: 5;
	}
	.element2 > .left > .l {
		margin-top: 0;
	}
	.element2 > .mid > .m {
		margin-top: 0;
	}
	.element2 > .right > .r {
		margin-top: 0;
	}
	.element2 > .mid > img {
		width:99vw;
		height: 30vh;
		filter: brightness(50%);
		z-index: 5;
	}
	.element2 > .right > img {
		width: 99vw;
		height: 30vh;
		filter: brightness(50%);
		z-index: 5;
	}
	.element2 > .left > .sidel > a {
		
		background: white;
	}
	.sidel > div {
		display: none;
	}

	.element2 > .mid > a {
		background: white;
	}
	.element2 > .right > .sider > a {
		background: white;
		margin-left: 0px;
	}
	.sider > div{
		display: none;
	}


	.element3 > p{
		position: absolute;
		width: 80vw;
		font-size: .8rem;
		z-index: 10;
		letter-spacing: 0.2rem;
		margin-top: 45px;
		font-weight: 700;
		text-align: center;
	}
	.text {
		position: absolute;
		font-size: 100px;
		white-space: nowrap; 
		color: rgb(225, 224, 224);
		z-index: 5;
	  }

	  .moving{
		display: none;
	  }

	  .footer{
		position: relative;
		height: 100vh;
		width: 99.5vw;
		background-color: #181818;
		display: flex;
		flex-direction: column;
		
		gap: 10vw;
	}
	.footer1 > img {
		margin-top: -20vh;
		width: 70%;
		height: 25vh;
		display: flex;
		justify-content: center;
		align-items: center;
		margin-left: 15vw;

		
	}

	  .footer3{
		display: flex;
		flex-direction: column;
		gap: 5vh;
		margin-top: 30vh;
	}

	.footer3 > div > .copyright {
		display: flex;
		flex-direction: column;
		gap: 5vw;
	}
	.footer3 > div > div > ul{
		margin-top: -35vh;
		display: flex;
		flex-direction: column;
		gap: 13vw;
		font-size: 1.5rem;
	}
	.footer2{
		display: none;
	}
	.footer3 > div > .copyright > p{
		font-size: 1.2rem;
		color: #ffffff;
		cursor: default;
		margin-top: 5vh;
	}
	.footer3 > div > .copyright > a{
		font-size: 1.2rem;
		color: #ffffff;
		cursor: default;
	}
	.footer3 > .dash {
		display: none;
	}
	.elem5 > h3{
		color: white;
		text-align: center;
	}
	.element3{
		margin-top: -10vh;
	}
	.swiper-button-next {
		padding: 40px !important;
		background-color: #181818 !important;
		left: 50% !important;
		color: white !important;
		padding-left: 70px !important;
		
	  }
	  .swiper-button-prev {
		padding: 40px !important;
		padding-right: 70px !important;
		background-color: #181818 !important;
		left: 20% !important;
		color: white !important;
	  }
	  .swiper {
		width: 100%;
		height: 100%;
		margin-bottom: 0vh;
		margin-top: -10vh;
	  }
	
	  .swiper-slide {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		position: relative;
		padding-top: 10vh;
		padding-bottom: 10vh;
		
		
	  }
	
	  .pic {
		position: absolute;
		color: white;
		bottom: 0;
		margin-bottom: 90px;
		margin-left: 40px;
		z-index: 99;
	  }
	  .pic > h3 {
		font-size: 1.3rem;
		letter-spacing: 0.1rem;
		padding-bottom: 3px;
	  } 
	  .pic > p {
		letter-spacing: 0.1rem;
		font-size: 0.9rem;
		
	  }
	
	  .swiper-slide img {
		cursor: default;
		width: 100%;
		height: 100%;
		object-fit: cover;
		filter: brightness(60%);
	  }
	  .element5{
		margin-top: -10vh;
	  }
}